@import "./utilities/variables";

@import "./utilities/mixins";

@import "./utilities/normalize";

@import "./Utilities/global";

@each $redsocial, $colorRedsocial in $redes {
    .btn-#{
        $redsocial
    }{
        border-radius: 5px;
        width: 200px;
        height: 40px;
        background-color: $colorRedsocial;
    }
    
}
















