/*Fuentes*/
$font-principal: Times New Roman;
$font-secundaria: Lucida Sans, Lucida Sans Regular;

/* Colores*/
$Text: #9441e2;
$primary: #ac40ac;
$secundary:violet;
$tercery:#fcf5fc;

$redes: (
    Facebook : #3a5795,
    Instagram: rgb (231, 97, 97),
    Twitter: #55adee


)